.wrap {
  max-width: 1200px;
  display: flex;
  /* background-color: grey; */
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  display: block;
}

.block {
  width: 150px;
  height: 150px;
  background-color: #c87e6e; 
  margin: 15px;
}

@media (max-width: 1199px) {
  .wrap {
    max-width: 991px;
  }
  .block {
    width: 120px;
    height: 120px;
  }
}
